<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security-4.0.xsd">
 
    <http auto-config="true">
        <intercept-url pattern="/web/resources/**" access="permitAll" />
		<intercept-url pattern="/web/login" access="permitAll" />
		<intercept-url pattern="/api/**" access="permitAll" />
		<intercept-url pattern="/unguarded/**" access="permitAll" />
		<intercept-url pattern="/check-coupen-expiry/**" access="permitAll" />
		<intercept-url pattern="/web/resetpassword/**" access="permitAll" />
		<intercept-url pattern="/web/member/**" access="hasRole('MEMBER')" />
		<intercept-url pattern="/web/admin/**" access="hasRole('SUPERADMIN')" />

		<!-- access denied page -->
		<access-denied-handler error-page="/403" />
		<form-login 
		    login-page="/web/login" 
		    default-target-url="/web/welcome"
		    login-processing-url="/web/j_spring_security_check"
			authentication-failure-url="/web/login?error" 
			username-parameter="email"
			password-parameter="password" />
		<logout logout-success-url="/web/login?logout" />
        <csrf disabled="true" />
    </http>
    
   	<authentication-manager>
		<authentication-provider user-service-ref="myUserDetailsServiceForSpringSecurity" >
			<password-encoder hash="bcrypt" />    
		</authentication-provider>
	</authentication-manager>
 
</beans:beans>
